<p>Hello <%= @user.name %></p>

<p>Looks like you forgot your password, please click the link below to reset it.<br />

Reset Link:<br />
<a href="<%= @reset_url %>"><%= @reset_url %></a>
<br />

Thank you for using our application!</p>

<p>Regards,<br />
Coderjobs Team</p>
