<div class="page">
  <div class="row">
    <div class="col-md-8 left">
      <div class="content-inner">
        <h3>Send Application</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius, ex ac euismod suscipit.</p>
        <%= render CoderjobsWeb.JobsApplyView, "job.html", assigns %>
        <%= render CoderjobsWeb.JobsApplyView, "form.html", assigns %>
      </div>
    </div>
    <%= render CoderjobsWeb.LayoutView, "side.html", assigns %>
  </div>
</div>