<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find coders jobs in the Philippines">
    <meta name="author" content="jd@coderjobs.ph">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name="guardian_token" content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>
    <title><%=
      (if assigns[:title], do: assigns[:title] <> " | ", else: "") <> "CoderJobs Philippines"
    %></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.4/quill.core.css" />
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.4/quill.snow.css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <%= render "nav.html", assigns %>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <%= render "footer.html", assigns %>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.4/quill.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if get_flash(@conn, :error) do %>
      <script>swal("Failed!", "<%= get_flash(@conn, :error) %>", "error")</script>
    <% end %>
    <%= if get_flash(@conn, :info) do %>
      <script>swal("Success!", "<%= get_flash(@conn, :info) %>", "success")</script>
    <% end %>
  </body>
</html>
