     <footer class="footer">
      <div class="container">
        <span class="text-muted">All Rights Reserved &copy; 2017 CoderJobs Philippines | <a href="/terms">Terms and Privacy</a></span>
      </div>
    </footer>