<div class="page">
  <div class="row">
    <div class="col-md-8 left">
      <div class="content-inner">
        <h3>Account Preference</h3>
      </div>
    </div>
    <%= render CoderjobsWeb.LayoutView, "side.html", assigns %>
  </div>
</div>