    <div class="col-md-4 right">
      <ul class="list-group">
        <a href="/account"class="list-group-item<%= if @page == "general" do " active" end %>" href="/jobs">General Settings</a>
        <a href="/account/password"class="list-group-item<%= if @page == "password" do " active" end %>" href="/jobs">Security Settings</a>
        <!--<li class="list-group-item">Payment and Billing</li>-->
      </ul>
    </div>