/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;

  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */

  background-color: #f6f6f6;
}

.footer {
  line-height: 60px; /* Vertically center the text there */

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */

  text-align: center;

  background-color: #f5f5f5;
}

.page {
  padding-top: 75px;
  padding-bottom: 50px;
}

.left {
  margin-bottom: 30px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0;

  transition: opacity 0.2s ease-in-out;

  border: 0 solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 5px #dcdcdc;
}

.content-inner {
  padding: 35px;
}

.search {
  padding: 10px;

  background-color: #f5f5f5;
}

.job-list {
  margin-bottom: 30px;
}

.job-list .card-title {
  font-weight: bold;
}

.job-list-location {
  position: absolute;
  top: 40px;
  right: 35px;
}

.job-list-img {
  width: 60px;
  margin-right: 15px;
}

.newsletter {
  padding: 15px;

  border: solid 1px #ccc;
}

.auth-wrapper {
  float: none;

  margin: auto;
}

.auth-wrapper > .card {
  min-height: 150px;
}

.auth-wrapper > .card > .auth-wrapper--inner {
  padding: 15px 15px 0 15px;
}

.auth-wrapper p {
  text-align: center;
}

.user-job-list {
  min-height: 200px;
}

.page-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.contact-message {
  min-height: 400px;
}

#editor {
  min-height: 300px;
}

.featured {
  border-radius: 0;
  background-image: url("/images/featured.jpg");
  background-size: cover;
  color: white;
  text-shadow: black;
}

.ads {
  margin-top: 15px;
}
