    <div class="col-md-4 right">
      <ul class="list-group">
        <li class="list-group-item"><a href="/jobs">Active</a></li>
        <li class="list-group-item"><a href="/jobs?status=drafts">Drafts</a></li>
        <li class="list-group-item"><a href="/jobs?status=archived">Archived</a></li>
      </ul>
    </div>